<div class="row">

    <div class="col-6 col-md-4 col-lg-3 pt-3" ng-repeat="list in light">

        <div class="card p-1">

            <div class="sp">
                <img src="./images/light/{{ list.Logo }}" class="img-fluid w-100">
            </div>

            <div class="fs-7 color-product text-center fw-bold">
                {{ list.Name }}
            </div>

            <div class="giohang mt-3">
                <a href="#!product-light/{{list.Id}}"
                    class="btn btn-outline-danger w-100 fw-bold p-2" style="font-size: 12px;">Xem
                    thông tin chi tiết</a>
            </div>

        </div>

    </div>

    <div class="des-info mt-5 text-secondary">

        <h5 class="color-product fw-bold">Cách chọn mua đèn LED năng lượng mặt trời tốt nhất:</h5>
        Có bao giờ bạn bỏ ra một khoảng tiền lớn để mua một sản phẩm mà chưa tìm hiểu qua về nó. Hãy là một người tiêu
        dùng thông minh, trước khi quyết định mua một sản phẩm nào, bạn cũng cần đặt ra một vài câu hỏi liên quan đến
        sản phẩm đó để ra quyết định mua tốt nhất.

        <br><br>
        <h5 class="color-product fw-bold">1. Mục đích sử dụng đèn:</h5>
        Một trong những điều đầu tiên mà bạn cần hiểu và cân nhắc là bạn sẽ sử dụng đèn cho mục đích gì. Tùy thuộc vào
        mục đích, như chúng ta đã thấy, có nhiều loại đèn chiếu sáng năng lượng mặt trời để bạn chọn cho phù hợp.
        <br><br>
        Ví dụ, nếu bạn cần đèn an ninh, bạn có đèn có cảm biến chuyển động cơ bản. Nhưng nếu bạn cần một cái gì đó có
        thẩm mỹ có thể chọn loại đèn treo, đèn lửa…

        <br><br>
        <h5 class="color-product fw-bold">2. Chọn pin lưu trữ năng lượng:</h5>
        Điều quan trọng tiếp theo cần tìm kiếm ở đèn tích điện năng lượng mặt trời là dung lượng pin. Mặc dù chúng được
        cung cấp bởi năng lượng mặt trời, nhưng đèn phải cần pin dự trữ để lưu trữ năng lượng điện được tạo ra.
        <br><br>
        Những pin này cần phải có hiệu quả cao và có khả năng sạc lại tốt. Khi nói đến công suất, nó hoàn toàn phụ thuộc
        vào mục đích của đèn. Đối với đèn chiếu sáng ngoài trời, bạn sẽ cần một pin có dung lượng pin ít nhất 1.200 mAH
        nhưng đối với đèn trang trí thì chúng có thể có dung lượng nhỏ hơn.
        <br><br>

        <h5 class="color-product fw-bold">3. Hiệu quả của tấm pin:</h5>
        Một điều quan trọng khác cần xem xét là hiệu quả của các tấm pin mặt trời. Các tấm pin nói chung có khoảng 15
        hiệu quả của việc chuyển đổi năng lượng mặt trời thành năng lượng điện. Bất kỳ hiệu quả nào trong khoảng từ 15%
        đến 18% là mức trung bình để sạc đầy pin của đèn trong vòng 6 giờ cho đến khi đầy. Đây là thời gian sạc trung
        bình tối đa bất kể dung lượng pin
        <br><br>

        <h5 class="color-product fw-bold">4. Độ sáng</h5>
        Một điều rất quan trọng khác mà bạn cần biết là độ sáng của những chiếc đèn này. Độ sáng của đèn cảm ứng năng
        lượng phụ thuộc vào nhiều yếu tố khác nhau, từ bóng đèn LED được sử dụng cho đến độ sáng của các bóng đèn này.
        <br><br>
        Bóng đèn năng lượng mặt trời ngoài trời thông thường có Độ sáng 5K với độ sáng của chúng từ 1.500 Lumens cơ bản
        và ngày càng cao hơn tùy thuộc vào chất lượng của bóng đèn LED được sử dụng. Đèn solar cơ bản sẽ có độ sáng
        tương đối nhỏ hơn khoảng 800 lumens gần như tương đương với bóng đèn sợi đốt.
        <br><br>
        Có một số sai lầm của người dùng là nghĩ rằng quyết định độ sáng của đèn chính là Watt, đèn có công suất càng
        cao thì độ sáng càng mạnh, nhưng trên thực tế không phải vậy. Độ sáng của đèn còn phụ thuộc vào Lumen. Vì vậy
        đừng nghĩ rằng đèn 100W, 90W thì sáng hơn đèn 60W, 40W hay 20W (Nó chỉ đúng khi nó cùng 1 loại đèn).
        <br><br>
        (Một sai lầm của nhiều người chưa hiểu kỹ về dòng đèn này cứ nghĩ đến 150W, 200W thì sáng tốt mà quên ra đó
        không phải yếu tố quyết định để mua đèn. Bạn cần phải xem kỹ độ sáng, công suất tấm pin, pin lưu trữ có đủ đáp
        ứng để đèn sáng nguyên đêm được hay không)
        <br><br>

        <h5 class="color-product fw-bold">5. Tính năng cảm biến:</h5>
        Độ che phủ là một yếu tố quan trọng đặc biệt nhất đối với đèn an ninh dùng năng lượng mặt trời cảm biến chuyển
        động. Trong các đèn này, bạn có một cảm biến chuyển động Pir giúp nhận diện, phát hiện chuyển động của ánh sáng
        và sau đó báo hiệu đèn bật sáng
        <br><br>
        Đèn được bật miễn là có một chuyển động trong vùng lân cận cảm biến của nó và nó sẽ tự động tắt khi người đó rời
        khỏi phạm vi cảm biến.
        <br><br>
        Đối với tính năng và mục đích bảo mật rất quan trọng này, điều quan trọng là bạn phải biết và chọn một cảm biến
        pin năng lượng mặt trời chất lượng tốt với độ bao phủ phù hợp.
        <br><br>

        <h5 class="color-product fw-bold">6. Không gian chiếu sáng:</h5>
        Bạn cần xem xét qua độ sáng của đèn chiếu sáng với độ rộng bao xa, lắp đặt chiều cao bao nhiêu để xem chúng có
        chiếu sáng hết được nhu cầu của bạn, khu vực bạn cần chiếu sáng để đưa ra tính toán về khoảng cách và số lượng
        đèn năng lượng mặt trời cần lắp đặt.
        <br><br>

        <h5 class="color-product fw-bold">7. Chất liệu:</h5>
        Loại vật liệu là một yếu tố quan trọng khác khi bạn quyết định mua đèn led sân vườn năng lượng mặt trời​ vì
        chúng sẽ phải chịu được thời tiết bên ngoài.
        <br><br>
        Đèn được làm từ rất nhiều chất liệu:
        Kim loại: Nhôm, thép, …
        Nhựa
        Nên chọn loại đèn không thấm nước trong tự nhiên và cũng có thể chịu được bất kỳ bụi hoặc mưa lớn. Đối với điều
        này, bạn có thể chọn đèn với chỉ số chống nước IP65 chất lượng tốt và nhựa ABS có độ bền cao được ưa thích. Đối
        với mục đích trang trí sân vườn, nhựa thông thường có thể bị hư hỏng nhanh
        <br><br>
        Các tấm pin của đèn cũng có 2 loại vật liệu
        Tinh thể đơn
        Đa tinh thể
        Vật liệu đơn tinh thể có chất lượng tinh vi và tốt hơn vật liệu đa tinh thể, mang đến hiệu quả hơn trong việc
        chuyển đổi năng lượng ánh sáng mặt trời thành điện năng.
        <br><br>
        Cách lắp đặt đèn led năng lượng mặt trời:
        Lắp đặt đèn mặt trời là một trong những điều dễ dàng nhất so với các loại đèn điện khác vì chúng không cần đến
        dây điện rườm rà, chúng đều được cài đặt sẵn và chỉ đơn giản là các định dạng cắm đất, gắn trụ, tường…
        <br><br>
        Đèn chiếu sáng lối đi sân vườn chỉ đơn giản loại cắm đất hoặc cố định trụ trên sàn, trên mặt đất…
        <br><br>
        Đối với đèn pha, đèn an ninh sẽ cần xác định thêm chiều cao lắp cho phù hợp.
        <br><br>
        Điều quan trọng nhất khi lắp đặt đèn chính là xác định vị trí của tấm pin, sẽ có 2 loại: đèn và tấm pin liền
        thể, đèn và tấm pin rời nhau. Dù là thiết kế như thế nào thì bạn cũng cần lắp đặt sao cho tấm pin hướng lên trên
        để nhận được ánh sáng mặt trời nhiều nhất.
        <br><br>
        Yêu cầu duy nhất là có nhiều ánh sáng mặt trời suốt cả ngày, và vì vậy chúng có thể được đặt ở bất cứ đâu giúp
        tấm pin không bị bóng râm.
        <br><br>
        Câu hỏi thường gặp về đèn năng lượng mặt trời:
        Đèn mặt trời có cần ánh nắng trực tiếp không?
        Trả lời: Khi đèn được đặt ở nơi có ánh sáng trực tiếp vào ban ngày, chúng có thể thu thập nhiều năng lượng hơn
        trong pin, có nghĩa là ánh sáng của bạn sẽ sáng lâu hơn vào ban đêm. Vì vậy, để có kết quả tốt nhất, bạn nên đặt
        đèn ở vị trí có ánh sáng mặt trời trực tiếp trong vài giờ. Tuy nhiên, đèn sẽ vẫn hoạt động dưới ánh sáng gián
        tiếp hoặc vào những ngày nhiều mây — chúng sẽ không thu được nhiều năng lượng và thời gian chiếu sáng vào buổi
        tối sẽ ngắn hơn.
        <br><br>
        Đèn mặt trời có dễ lắp đặt không?
        Trả lời: đèn có tính lưu động cao nên rất dễ lắp đặt hay di chuyển. Trong mỗi thùng sản phẩm nào khi mua đều có
        phụ tùng lắp đặt đi kèm với tài liệu hướng dẫn lắp đặt.
        <br><br>
        Nơi tốt nhất để lắp đặt đèn tích điện năng lượng mặt trời?
        Trả lời: Để có được kết quả tốt nhất, bạn nên đặt chúng ở vị trí có ánh sáng mặt trời trực tiếp từ sáu đến tám
        giờ trong ngày. Nếu chúng được thiết kế để gắn vào tường, hãy cân nhắc đặt đèn ở trên cao, nơi chúng sẽ gần mặt
        trời hơn. Bạn cũng sẽ muốn đảm bảo đèn của mình không ở vị trí bất tiện, chẳng hạn như ở lối đi hoặc chắn cửa
        sổ.
        <br><br>
        Đèn và tấm pin lắp ngoài trời khi trời mưa có bị ảnh hưởng không?
        Trả lời: Không vì những sản phẩm này có đặc tính ở ngoài trời nên nhà sản xuất đã nắm bắt được vấn đề này và đã
        sản xuất theo tiêu chuẩn IP65, có nghĩa là chống bụi và chống nước thâm nhập. Vì vậy mà bạn hoàn toàn yên tâm mà
        sử dụng đèn LED mặt trời nhé. Vấn đề này còn phụ thuộc vào chất lượng sản phẩm của mỗi nhà sản xuất quyết định
        đến đèn và Pin mặt trời có tuổi thọ khác nhau. Thường tấm pin mặt trời và bóng đèn LED rất bền và rất ít hư hỏng
        (tấm pin tuổi thọ từ 20-25 năm, bóng đèn led tuổi thọ lớn hơn 50.000 giờ).
        <br><br>
        Solar Light thường có tuổi thọ kéo dài bao lâu?
        Trả lời: Nói chung, pin trong đèn LED năng lượng mặt trời thường sẽ có tuổi thọ ba hoặc bốn năm trước khi cần
        phải thay thế — bạn dễ dàng tìm mua trên thị trường. Bạn có thể giúp tăng tuổi thọ của đèn bằng cách làm sạch
        các tấm pin thường xuyên và bảo vệ chúng khỏi thời tiết khắc nghiệt của mùa đông, tấm pin sẽ có tuổi thọ rất
        lâu, thương lên đến 25 năm. Đèn led sẽ có tuổi thọ hoạt động đến 50.000 giờ.
        <br><br>
        Có cần phải có bất kỳ hệ thống dây điện nào không?
        Trả lời: Tất cả các đèn trong danh sách của chúng tôi là các thiết bị khép kín, bao gồm các tấm pin, pin lưu trữ
        và đèn. Không cần phải nối dây bất cứ thứ gì và vì chúng chạy bằng năng lượng mặt trời nên không cần cắm vào
        nguồn điện.
        <br><br>
        Đèn sạc năng lượng mặt trời sẽ hoạt động vào mùa đông?
        Trả lời: Đèn Solar sẽ hoạt động quanh năm, ngay cả trong những tháng lạnh hơn khi ngày ngắn hơn. Tuy nhiên, ít
        ánh sáng mặt trời hơn sẽ đồng nghĩa với việc sạc pin ít hơn, vì vậy đèn sẽ hoạt động thời gian ngắn hơn trong
        mùa đông.
        <br><br>
        Có phải tất cả các loại đèn dùng năng lượng mặt trời đều được chế tạo giống nhau không?
        Trả lời: Trong khi tất cả các loại đèn sử dụng năng lượng mặt trời đều có tấm pin, pin và bóng đèn, các sản phẩm
        chất lượng cao hơn thường có các tấm pin năng lượng mặt trời hiệu quả hơn và pin dung lượng cao hơn cho phép
        chúng hoạt động lâu hơn.
        <br><br>
        Với nhiều loại đèn có sẵn, việc tìm ra lựa chọn tốt nhất cho bạn sẽ phụ thuộc vào nhu cầu sử dụng của từng gia
        đình. Bạn đang muốn thêm không khí cho trải nghiệm ăn uống ngoài trời của mình? Bạn có muốn trang trí khu vườn
        cho một dịp đặc biệt? hay Bạn có muốn cải thiện tầm nhìn xung quanh nhà của bạn vào ban đêm?
        <br><br>
        Đèn năng lượng mặt trời thường gặp những hư hỏng gì và cách khắc phục chúng như thế nào?
        Đèn thường hay gặp một số vấn đề sau:
        <br><br>
        Bóng đèn Led mờ, sáng không rõ: do bạn sử dụng đèn LED có chất lượng kém
        >Khắc phục: Nên chọn mua sản phẩm có chất lượng tốt
        <br><br>
        Đèn sáng không đủ lâu trong đêm (chỉ sáng khoảng vài ba tiếng): có thể là do ban ngày sạc pin chưa đầy hoặc do
        pin sạc bị chai nên không nạp đầy
        >Khắc phục: Thay pin sạc nếu pin bị chai, còn nếu sạc không đầy do ngày không đủ nắng thì đây là đặc điểm phải
        chấp nhận ở dòng đèn này
        <br><br>
        Đèn không sáng: là do hư cảm biến quang hoặc hư mạch điều khiển.
        Khắc phục: Thay thế cảm biến quang và mạch điều khiển. Hai linh kiệnnày giá tương đối rẻ
        <br><br>
        Đèn mặt trời thường có chế độ bảo hành bao lâu?
        Yếu tố này tùy thuộc vào mỗi công ty hay cửa hàng cung cấp mà bạn có chế độ bảo hành khác nhau. Thông thường sẽ
        là 6-12 tháng. Nhớ là khi mua đèn phải hỏi rõ vấn đề này để phòng khi đèn gặp sự cố. <br> <Strong
            style="color: #0a59a0;">SOLAR BÁCH THỊNH</Strong> cung cấp chế độ
        từ 1-2 năm.
        <br><br>

        <h5 class="color-product fw-bold">Tại sao có một công tắc bật/mở trên đèn?</h5>
        Công tắc bật/ mở được trang bị trên đèn có thể giúp bạn điều khiển và khởi động thiết bị.
        Nếu gia đình muốn sử dụng đèn ở ngoài trời hoạt động cả ngày, bạn chỉ cần bật công tắc bật/ tắt. Nếu bạn muốn
        sạc đèn và cất giữ đèn để sử dụng sau đó, bạn có thể tắt công tắc cho đến khi sẵn sàng sử dụng lại.
        <br><br>
        Khi công tắc ở vị trí tắt, đèn vẫn có thể tiếp tục nhận nguồn điện năng từ mặt trời và lưu trữ bên trong pin để
        sử dụng về sau.

        <h5 class="text-secondary text-center fw-bold mb-3">Liên hệ với chúng tôi: <Strong
                class="text-danger fw-bold">0918.619.651 - 0969.209.620</Strong></h5>

    </div>

</div>