<div class="row">

    <div class="col-6 col-md-4 col-lg-3 pt-3" ng-repeat="list in pin">

        <div class="card p-1">

            <div class="sp">
                <img src="./images/pin/{{ list.Logo }}" class="img-fluid w-100">
            </div>

            <div class="fs-7 color-product text-center fw-bold">
                {{ list.Name }}
            </div>

            <div class="giohang mt-3">
                <a href="#!product-pin/{{list.Id}}"
                    class="btn btn-outline-danger w-100 fw-bold p-2" style="font-size: 12px;">Xem
                    thông tin chi tiết</a>
            </div>

        </div>

    </div>

    <div class="des-info mt-5">

        <p class="text-secondary">
            Tấm pin năng lượng mặt trời (Solar panel) là tấm quang điện được tạo ra từ các mô-đun
            quang
            điện (PV) gồm các tế bào quang điện (Solar cell) kết nối với nhau ở các điện áp và công
            suất
            khác nhau. Chúng đóng vai trò thu thập năng lượng và chuyển đổi năng lượng của ánh sáng
            mặt
            trời thành điện năng để cung cấp cho trong các ứng dụng thương mại và dân dụng, là một
            trong
            những thành phần cơ bản của hệ thống điện mặt trời.
        </p>

        <h5 class="color-product fw-bold">Cấu tạo và nguyên lý hoạt động:
        </h5>

        <p class="text-secondary">
            Pin mặt trời dựa trên hiệu ứng quang điện để thực hiện quá trình biến đổi quang điện
            thành
            năng lượng điện. Các thành phần chính bao gồm:
        </p>

        <h5 class="color-product fw-bold">Lớp kính phía trước:
        </h5>

        <p class="text-secondary">
            Đây là thành phần nặng nhất của tấm pin, lớp kính dày 2-4mm, là kính cường lực để đảm
            bào độ
            bền, đóng vai trò bảo vệ cho toàn bộ tấm pin, nhất là các cell pin bên trong. Lớp kinh
            này
            phải trong suốt để truyền quang phổ và ánh sáng.
        </p>

        <h5 class="color-product fw-bold">Lớp tế bào quang điện:</h5>

        <p class="text-secondary">
            Đây là thành phần chính của pin đóng vai trò hấp thu ánh sáng mặt trời để tao ra điện
            năng
            <br><br>
            Có nhiều loại pin năng lượng mặt trời loại phổ biến được sử dụng trên thị trường nước ta
            hiện nay là pin đa tinh thể Poly (Polycrystalline) và pin đơn tinh thể Mono
            (Monocrystalline), ngoài ra còn có loại mới nhất là Pin màng mỏng cũng được ứng dụng
            trong
            một số thiết bị điện, điện từ.
        </p>

        <h5 class="color-product fw-bold">Tấm nền:</h5>

        <p class="text-secondary">
            Đặt ở mặt sau, lớp màu trắng, thường được làm một lớp nhựa đóng vai trò cách ly điện và
            bảo
            vệ cho các tế bào PV trước các tác động của độ ẩm hay thời tiết làm giảm độ bền và hiệu
            suất
            của tấm pin.
        </p>

        <h5 class="color-product fw-bold">Hộp nối:</h5>

        <p class="text-secondary">
            Phía sau tấm pin có một hộp nối PV hoạt động như giao diện đầu ra của nó. Các kết nối
            bên
            ngoài cho hầu hết các mô-đun quang điện sử dụng các đầu nối MC4 để dễ dàng kết nối với
            phần
            còn lại của hệ thống.
        </p>

        <h5 class="color-product fw-bold">Khung:</h5>

        <p class="text-secondary">
            Khung được làm bằng kim loại, thường là nhôm để đảm bào độ nhẹ và bền.
        </p>

        <h5 class="color-product fw-bold">Đặc điểm của tấm pin thu năng lượng mặt trời:</h5>

        <p class="text-secondary">
            Có thiết kế với kiểu dáng nhỏ gọn, mỏng, dạng tấm hình vuông hay hình chữ nhật đứng, có
            màu
            đen (thường là tấm Mono) hay màu xanh (thường là tấm Poly), mang tính thẩm mỹ cao, giữa
            các
            cell pin sẽ có khoảng trống màu trắng.
            <br><br>
            Xét về hiệu quả pin mặt trời thì pin Mono sẽ có chất lượng hơn, có hiệu suất chuyển đổi
            năng
            lượng cao hơn và đi đôi với giá thành cao hơn so với tấm Poly.
            <br><br>
            Chúng hoạt động liên tục, vẫn duy trì được hiệu suất cao kể cả trong điều kiện cường độ
            ánh
            sáng yếu.
            <br><br>
            Là sản phẩm chất lượng có khả năng tự làm sạch bề mặt, thích nghi với mọi thời tiết mà
            không
            làm ảnh hưởng tới công suất tiêu thụ.
            <br><br>
            Thiết kế với khả năng chống nước, chống bụi cao để sử dụng lâu dài, lên đến vài chục
            năm.
            Tấm pin mặt trời hấp thụ tối đa nguồn ánh sáng đưa vào phục vụ đời sống từ sinh hoạt tới
            sản
            xuất.
        </p>

        <h5 class="color-product fw-bold">Mua tấm pin ở đâu chất lượng và giá tốt?</h5>

        <p class="text-secondary">
            Bạn muốn tìm một địa chỉ mua pin năng lượng mặt trời uy tín – chất lượng – giá tốt, Hãy
            đến
            với <Strong class="color-product fw-bold">Solar Bách Thịnh</Strong> uy tín đảm bảo mang
            đến
            những gì bạn mong muốn:
            <br><br>
            + Cung cấp sỉ và lẻ số lượng lớn với giá tốt cho khách hàng lắp đặt, cho các đơn vị, đại
            lý,
            phân phối trên toàn quốc.
            <br><br>
            + Cung cấp tấm pin từ các thương hiệu nổi tiếng hàng đầu hiện này: <Strong>Longi,
                Canadian,
                AE
                Solar, Jinko Solar …</Strong>
            <br><br>
            + Có nhiều mức công suất có kích thước khác nhau <Strong>370W, 435W, 445W, 450W, 455W,
                530W, 535Wp, 565Wp, 570Wp…</Strong>
            <br><br>
            + Có các dịch vụ, chế độ tốt nhất với đội ngũ nhân viên tư vấn hiểu biết sản phẩm, nhiệt
            tình, hỗ trợ đáp ứng nhu cầu của từng khách hàng.
            <br><br>
            + Bảo hành sản phẩm lên đến 12 năm, bảo hành hiệu suất đến 25 năm.
            <br><br>
            + Nhận lắp đặt điện mặt trời các dự án lớn nhỏ cho các hộ gia đình, doanh nghiệp…
            <br><br>
        </p>

        <h5 class="color-product fw-bold">Tiêu chuẩn quan trọng nhất để chọn đúng loại pin năng
            lượng
            mặt trời:
        </h5>

        <p class="text-secondary">
            Vì các tấm pin mặt trời có thể tạo ra điện một cách đáng tin cậy trong khoảng thời gian
            lên
            đến 25 năm nên cần phải chú ý cẩn thận đến chất lượng cao và hiệu quả khi mua
            <br><br>
            Để chọn một cách khách quan các loại pin năng lượng mặt trời phù hợp, không phải lúc nào
            một
            datasheet cũng hữu ích vì chúng chứa các thông tin khác nhau tùy thuộc vào nhà sản xuất.
            <br><br>
            Tiêu chí chất lượng quan trọng nhất để chọn đúng loại tấm pin năng lượng mặt trời:
        </p>

        <h5 class="color-product fw-bold">Chất lượng:
        </h5>

        <p class="text-secondary">
            Không đồng đều, cặn phim hoặc solar cell, không được đặt đúng vị trí. Đây là những sai
            sót
            được thực hiện trong quá trình xử lý, không nên xảy ra. Mọi người nên kiểm tra chính xác
            bề
            mặt các tấm pin khi mua để xem chúng được xử lý tốt hay không.
        </p>

        <h5 class="color-product fw-bold">Bảo hành
        </h5>

        <p class="text-secondary">
            Có 2 loại bảo hành áp dụng cho tấm pin quang điện:
        </p>

        <h5 class="color-product fw-bold">Bảo hành hiệu suất
        </h5>

        <p class="text-secondary">
            Sự xuống cấp biểu thị sự mất hiệu suất liên quan đến quá trình lão hóa của các mô-đun
            điện
            mặt trời. Mức độ của hiệu suất khác nhau tùy theo loại tế bào quang điện.
            <br><br>
            Để giải quyết sự xuống cấp này, các nhà sản xuất khác nhau cung cấp một bảo hành, cho
            phép
            tấm pin của họ sau 20 hoặc 25 năm sẽ đạt được một tỷ lệ % nhất định của công suất danh
            nghĩa. ví dụ: 90% trong thập kỷ đầu tiên / 80% trong vòng 25 năm.
        </p>


        <h5 class="color-product fw-bold">Bảo hành sản phẩm
        </h5>

        <p class="text-secondary">
            Bảo hành sản phẩm tương ứng với bảo hành được yêu cầu hợp pháp trong trường hợp có lỗi
            mô-đun. Điều này thường được cấp trong 10 năm hay 12 năm.
        </p>


        <h5 class="color-product fw-bold">Các chứng chỉ kiểm tra
        </h5>

        <p class="text-secondary">
            Các nhà sản xuất pin mặt trời nên có trong mọi trường hợp:
        </p>


        <h5 class="color-product fw-bold">Chứng chỉ thử nghiệm IEC61215 cho module tinh thể
        </h5>

        <p class="text-secondary">
            IEC61215 bao gồm các thông số, nguyên nhân gây ra sự lão hóa của các tấm pin mặt trời.
            Điều
            này bao gồm:
            <br><br>
            Ánh sáng mặt trời bao gồm cả tia UV.<br><br>
            Sự thay đổi của khí hậu (lạnh, ấm, ẩm).<br><br>
            Tải trọng cơ học (mưa đá, gió hút, áp lực gió, tuyết).<br><br>
            Công suất tải tiêu chuẩn là 2400 Pa, nhưng nếu chúng được lắp đặt ở những khu vực có
            tuyết
            rơi dày đặc thì cần phải có công suất tải là 5400 Pa.
        </p>


        <h5 class="color-product fw-bold">Chứng chỉ thử nghiệm IEC 61646 cho mô-đun PV màng mỏng
        </h5>

        <p class="text-secondary">
            Điều này tương tự như thử nghiệm IEC 61215, nhưng một thử nghiệm bổ sung liên quan đến
            hành
            vi suy thoái của silicon vô định hình đối với tiếp xúc với nhiệt độ và bức xạ được thực
            hiện.
        </p>

        <h5 class="color-product fw-bold">IEC61730 / EN61730 Chứng chỉ an toàn
        </h5>

        <p class="text-secondary">
            Có hai phần trong IEC / EN61730:
            <br><br>
            Phần đầu tiên bao gồm tất cả các yêu cầu về xây dựng và nêu các đặc điểm thiết kế bắt
            buộc
            của các tấm pin
            <br><br>
            Phần thứ hai bao gồm các yêu cầu để kiểm tra và xác định ba lớp ứng dụng khác nhau cho
            thiết
            kế mô-đun năng lượng mặt trời, chỉ định loại sử dụng, các bài kiểm tra chất lượng liên
            quan
            và kết quả là các sửa đổi về lớp an toàn.
        </p>

        <h5 class="color-product fw-bold">Hiệu suất
        </h5>

        <p class="text-secondary">
            Hiệu suất của tế bào quang điện cho biết % bức xạ mặt trời mà chúng có thể biến đổi
            thành
            điện năng.
            <br><br>
            Khoảng cách tách biệt giữa các tế bào quang điện trong các tấm pin PV làm cho hiệu suất
            của
            tế bào quang điện luôn cao hơn hiệu suất của tấm pin
            <br><br>
            Nói chung, các mô-đun tinh thể có hiệu suất từ ​​15 đến 19%, một số thương hiệu có tiếng
            ngày nay như Jinko, Longi, Canadian đã đạt hiệu suất trên 20%. Hiệu suất tấm pin luôn
            được
            cải thiện như một yếu tố cạnh tranh của các nhà sản xuất.
            <br><br>
            Theo hiệu suất hiện tại trên thị trường (liên tục thay đổi), chúng tôi sẽ sử dụng 4 phạm
            vi
            phân loại sau để đánh giá hiệu quả pin mặt trời:
            <br><br>
            Phạm vi hiệu quả kinh tế: Khi hiệu suất nhỏ hơn 15% (Các tấm đa tinh thể, các tấm màng
            mỏng)
            <br><br>
            Phạm vi hiệu suất tiêu chuẩn: Khi hiệu suất từ 15 đến 17% (Tấm đa tinh thể trung bình,
            tấm
            màng mỏng)
            <br><br>
            Phạm vi hiệu quả tốt: Khi hiệu suất từ 17 đến 20% (Tấm đa tinh thể tốt, tấm đơn tinh thể
            trung bình)
            <br><br>
            Phạm vi hiệu quả tuyệt vời: Khi hiệu suất lớn hơn 20% (Các tấm đơn tinh thể tốt)
        </p>

        <h5 class="color-product fw-bold">Công suất danh nghĩa / dung sai công suất
        </h5>

        <p class="text-secondary">
            Công suất danh định của tấm pin là công suất tối đa và được đo bằng watt peak. Công suất
            danh định được chỉ định bởi nhà sản xuất.
            <br><br>
            Kết quả của quá trình sản xuất, không có mô-đun PV nào giống mô-đun nào khác. Do đó, nhà
            sản
            xuất đưa vào một khoảng dung sai nhất định gọi là dung sai công suất. Thông thường, mức
            này
            là từ -5% đến 5%.
            <br><br>
            Các tấm pin năng lượng cung cấp công suất danh định này ở các điều kiện STC; điều này có
            nghĩa là bức xạ mặt trời trực tiếp theo phương thẳng đứng là 1000W/m², hệ số khối lượng
            không khí là 1,5 và nhiệt độ tế bào là 25°C.
        </p>

        <h5 class="color-product fw-bold">Ánh sáng yếu và hành vi nhiệt độ
        </h5>

        <p class="text-secondary">
            Ngoài công suất danh định, thông tin về hoạt động của pin ở điều kiện ánh sáng yếu và
            nhiệt
            độ cao cũng rất quan trọng.
            <br><br>
            Với sự hỗ trợ của datasheet, có thể rút ra kết luận về hoạt động của tấm pin. Hệ số
            nhiệt độ
            cho biết dòng điện và công suất tăng lên bao nhiêu phần trăm và điện áp giảm.
            <br><br>
            Giá trị của hệ số nhiệt độ phải nhỏ (từ -0,4 đến -0,5%) và thậm chí nhỏ hơn đối với
            module
            màng mỏng.
            <br><br>
            Hệ số nhiệt độ P MAX càng gần 0 càng tốt. Tất cả các tấm PV đều giảm điện năng khi chúng
            nóng lên. “Hệ số nhiệt độ Pmax” cho chúng ta biết lượng điện năng mất đi cho mỗi °C mà
            tấm
            pin nóng hơn 25°C.
        </p>

        <h5 class="color-product fw-bold">Độ dày kính
        </h5>

        <p class="text-secondary">
            Độ dày của kính đóng vai trò cho sự ổn định của mô-đun PV năng lượng mặt trời. Các tấm
            có độ
            dày kính 4mm sẽ tốt hơn các tấm kính dày 3mm.
            <br><br>
            Ngay cả việc cố định một tấm ở bên trong kính cũng cải thiện sản lượng điện khi ánh sáng
            chiếu xiên vào mô-đun.
            <br><br>
            Kính cường lực chắc chắn và an toàn hơn nhiều so với kính tiêu chuẩn. Nếu nó bị vỡ, nó
            sẽ vỡ
            ra thành hàng ngàn mảnh nhỏ mà không gây hại. Cả sức mạnh và độ an toàn đều cần thiết
            cho
            các tấm pin.
            <br><br>
            Hầu hết thủy tinh có chứa các tạp chất sắt ở dạng muối sắt trong oxit silic làm suy giảm
            sự
            truyền ánh sáng qua vật liệu.
            <br><br>
            So với các loại kính trong suốt tiêu chuẩn khác, ưu điểm chính của kính ít sắt là nó
            chứa
            hàm lượng sắt giảm, giúp cải thiện sự truyền ánh sáng.
            <br><br>
            Việc áp dụng một lớp phủ chống phản xạ trên bề mặt kính làm tăng tỷ lệ bức xạ mặt trời
            được
            sử dụng hiệu quả cho việc phát điện.
        </p>

        <h5 class="color-product fw-bold">Hộp nối
        </h5>

        <p class="text-secondary">
            Khi hộp nối của tấm pin nằm ở phía sau, thì các khu vực bám dính phải nhỏ. Nếu không,
            nhiệt
            có thể tích tụ ở đó và dẫn đến giảm hiệu suất của các tế bào quang điện.
        </p>


        <h5 class="color-product fw-bold">Khung pin
        </h5>

        <p class="text-secondary">
            Pin năng lượng với khung ở từng một cạnh. Cần phải cẩn thận để không có chất bẩn tích tụ
            ở
            đó. Các tấm pin không có khung không gặp vấn đề này và thường được làm mát tốt hơn.
            <br><br>
            Khung pin nên được làm bằng nhôm anodized, để tăng khả năng chống ăn mòn và độ ổn định
            của
            lắp ráp.
        </p>


        <h5 class="color-product fw-bold">Nước sản xuất
        </h5>

        <p class="text-secondary">
            Các nhà sản xuất của Đức, Nhật Bản và Mỹ có danh tiếng tốt và do đó có thể lọt vào danh
            sách
            lựa chọn.
            <br><br>
            Có một số nhà sản xuất lớn được thành lập, cung cấp các tấm pin năng lượng mặt trời chất
            lượng cao. Tuy nhiên, rất nhiều công ty mới mọc lên như nấm trên thị trường.
            <br><br>
            Bạn có thể lựa chọn từ các nhà sản xuất khác nổi tiếng trên thị trường Việt Nam.
        </p>

        <h5 class="color-product fw-bold">Các loại pin mặt trời
        </h5>

        <p class="text-secondary">
            Tùy thuộc vào tế bào quang điện được sử dụng mà các mô-đun có những ưu điểm khác nhau.
            <br><br>
            Monocrystalline có hiệu suất cao nhất. So với đơn tinh thể, tấm pin polycrystalline có
            thời
            gian khấu hao ngắn và rẻ hơn.
            <br><br>
            Các tấm pin mặt trời màng mỏng nhẹ nhất và phù hợp để lắp đặt trên mái bằng. Chúng cũng
            có
            hiệu suất ánh sáng yếu tốt hơn so với các tấm tinh thể. (Tuy nhiên loại này chưa được
            phổ
            biến ở nước ta)
        </p>

        <h5 class="color-product fw-bold">Kinh nghiệm của nhà sản xuất
        </h5>

        <p class="text-secondary">
            Nhà sản xuất tấm pin này đã tồn tại bao lâu?
            <br><br>
            Nó có phải là một sản phẩm mới, chưa được thử nghiệm?
            <br><br>
            Có những đánh giá đặc biệt tích cực hay tiêu cực về nhà sản xuất tấm pin năng lượng mặt
            trời
            (trường hợp thu hồi, bảo hành, chúng được xử lý như thế nào?)
        </p>

        <h5 class="color-product fw-bold">Kích thước tấm pin
        </h5>

        <p class="text-secondary">
            Khi nói đến việc lựa chọn pin mặt trời, kích thước chiều dài x chiều rộng đóng một vai
            trò
            quan trọng. Chúng nên được lựa chọn để có thể sử dụng tối ưu diện tích mái có sẵn.
        </p>

        <h5 class="color-product fw-bold">Trọng lượng
        </h5>

        <p class="text-secondary">
            Đối với tải trọng tĩnh của mái nhà, trọng lượng của tấm pin mặt trời là yếu tố quan
            trọng
            nhất.
            <br><br>
            Trên các mái có dự trữ tải thấp, nên sử dụng các tấm lấy sáng như tấm màng mỏng.
        </p>

        <h5 class="color-product fw-bold">Tỷ lệ giá cả hiệu suất
        </h5>

        <p class="text-secondary">
            Có những tấm pin hiệu suất cao tạo ra năng suất tốt hơn so với các tấm tiêu chuẩn. Các
            nhà
            sản xuất các mô-đun này sẽ có một mức giá cao hơn.
            <br><br>
            Giá thành tấm pin năng lượng mặt trời không phải là tiêu chí khi đưa ra quyết định; cần
            phải
            tính toán và so sánh với tỷ lệ của các loại mô-đun khác về việc liệu có hợp lý để trả
            thêm
            chi phí đó trong một thời gian sử dụng nhất định của một hệ thống điện mặt trời cụ thể
            hay
            không.
        </p>

        <h5 class="text-secondary text-center fw-bold mb-3">Liên hệ với chúng tôi: <Strong
                class="text-danger fw-bold">0918.619.651 - 0969.209.620</Strong></h5>

    </div>

</div>