<!DOCTYPE html>
<html lang="en" ng-app="solar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Bách Thịnh - Trang chủ</title>

    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="table">

    <div class="container">

        <!-- navbar -->
        <nav class="navbar navbar-expand-xm navbar-expand-lg navbar-white bg-light fixed-top">

            <div class="container">

                <img src="./images/logo.png" class="img-fluid rounded-top" width="23%">

                <button class="navbar-toggler d-lg-none border border-light" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-start" style="width: 70%;" id="offcanvasWithBackdrop"
                    aria-labelledby="offcanvasWithBackdropLabel">

                    <ul class="navbar-nav justify-content-end">

                        <li class="nav-item p-1">
                            <a class="nav-link fw-bold" href="index.html" aria-current="page">
                                <i class="bi bi-house-door-fill"></i>
                                Trang Chủ
                            </a>
                        </li>

                        <li class="nav-item p-1">
                            <a class="nav-link fw-bold" href="info.html">
                                <i class="bi bi-info-square-fill"></i>
                                Giới thiệu</a>
                        </li>

                        <li class="nav-item p-1">
                            <a class="nav-link fw-bold" href="ivt-tong.html">
                                <i class="bi bi-kanban"></i>
                                Sản phẩm
                            </a>
                        </li>

                        <li class="nav-item dropdown p-1">
                            <a class="nav-link dropdown-toggle fw-bold" href="#" id="dropdownId"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-window-plus"></i>
                                Giải pháp và ứng dụng
                            </a>
                            <div class="dropdown-menu border-0 p-1" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="girdHoaluoi.html">Ứng dụng điện mặt trời <br> hoà
                                    lưới</a>
                                <a class="dropdown-item" href="girdDoclap.html">Ứng dụng điện mặt trời <br> độc lập</a>
                                <a class="dropdown-item" href="hybrid.html">Ứng dụng điện mặt trời <br> Hybrid</a>
                                <a class="dropdown-item" href="girdFamily.html">Ứng dụng điện mặt trời <br> cho nông
                                    nghiệp</a>
                            </div>
                        </li>


                        <li class="nav-item p-1">
                            <a class="nav-link fw-bold" href="priceHybrid.html">
                                <i class="bi bi-newspaper"></i>
                                Dịch vụ
                                <col>
                            </a>
                        </li>

                        <li class="nav-item p-1">
                            <a class="nav-link fw-bold" href="lienhe.html">
                                <i class="bi bi-person-lines-fill"></i>
                                Liên hệ
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

        <main>

            <div class="row g-1">

                <div class="col-lg-9">

                    <div class="mt-5 pt-5" style="font-family: Arial;">

                        <div class="about-heading">

                            <h2 class="fw-bold" style="color: #4075a3;">Bảng giá trọn gói điện mặt trời hybrid – hòa
                                lưới có
                                lưu trữ mới nhất</h2>
                            <br>
                            <h6 class="fw-bold mb-3 text-danger">Bạn đang dự định chuẩn bị lắp đặt điện năng lượng mặt
                                trời
                                hybrid – hòa lưới có lưu trữ để sử dụng và kèm theo đó với nhiều câu hỏi hoặc thắc mắc
                                về hệ
                                thống này trước khi đầu tư. Solar Bách Thịnh sẽ cung cấp chi tiết thông tin mà bạn đang
                                tìm kiếm.</h6>

                        </div>

                        <div class="about-heading mt-5">

                            <h6 class="fw-bold mb-3 text-success">1. Lợi ích khi lắp đặt điện mặt trời hybrid – hòa lưới
                                có
                                lưu
                                trữ</h6>

                            <p class="text-secondary">
                                Giảm ngay tiền điện hằng ngày khi sử dụng điện năng lượng mặt trời hybrid.
                                <br><br>
                                Chạy độc lập không cần điện lưới khi nhà bạn cúp điện đột ngột và không gián đoạn điện
                                sử
                                dụng(với điều kiện sử dụng khi cúp điện là tải nhà sử dụng phải nhỏ hơn công suất của hệ
                                thống tấm pin).
                            </p>

                            <div class="img-info-solar">
                                <img src="./images/service/priceHybrid/pr-1.gif" class="img-fluid w-100">
                            </div>

                        </div>

                        <div class="about-heading mt-5">

                            <h6 class="fw-bold mb-3 text-success">2. Cách tính chi phi lắp điện mặt trời hybrid – hòa
                                lưới
                                có
                                lưu trữ
                            </h6>

                            <p class="text-secondary">
                                Trước khi đầu tư lắp điện mặt trời hybrid – hòa lưới có lưu trữ cần xác định rõ số tiền
                                điện
                                hằng tháng bạn phải trả có cần thiết lắp điện mặt trời hay không.
                                <br><br>
                                <span class="fw-bold">✅ Với hộ gia đình, văn phòng</span>
                                <br><br>
                                Đối với tiền điện mỗi tháng dưới 1 triệu đồng có thể chọn gói nhỏ nhất là hệ thống
                                hybrid
                                3kWp để lắp đặt, hoặc có thể lắp đặt công suất cao hơn nếu tương lai dùng nhiều điện
                                hơn.
                                <br><br>
                                Đối với tiền điện mỗi tháng trên 1 triệu đồng thì có thể tham khảo các gói lắp đặt điện
                                mặt
                                trời hybrid hòa lưới có lưu trữ từ 5kWp trở lên.
                                <br><br>
                                <span class="fw-bold">✅ Với những nơi chưa có điện lưới kéo đến</span>
                                <br><br>
                                Đối với những nơi chưa có điện lưới kéo đến nếu muốn lắp đặt điện mặt trời độc lập để sử
                                dụng đều có thể lựa chọn các gói điện mặt trời hybrid từ 5kWp trở lên tùy theo công suất
                                sử
                                dụng (Tương lai có thể lắp điện lưới sau nếu cần thiết).
                                <br><br>
                                <span class="fw-bold">✅ Với doanh nghiệp, nhà xưởng</span>
                                <br><br>
                                Đối với doanh nghiệp, nhà xưởng lớn có lẽ lắp đặt điện mặt trời hòa lưới có bám tải sẽ
                                tốt
                                hơn (hệ thống không lưu trữ).
                            </p>

                            <div class="img-info-solar">
                                <img src="./images/service/priceHybrid/pr-2.png" class="img-fluid w-100">
                            </div>

                        </div>

                        <div class="about-heading mt-5">

                            <h6 class="fw-bold mb-3 text-success">3. Bảng công suất điện mặt trời tạo ra từ hệ thống
                                điện
                                mặt
                                trời hybrid – hòa lưới có lưu trữ
                            </h6>

                            <div class="card rounded-0 mb-4">

                                <div class="table-responsive">

                                    <table class="table table-striped">

                                        <thead>

                                            <tr class="bg-success text-white">
                                                <th scope="col">CÔNG SUẤT</th>
                                                <th scope="col">DIỆN TÍCH</th>
                                                <th scope="col">ĐIỆN TẠO RA MỖI NGÀY</th>
                                            </tr>

                                        </thead>

                                        <tbody>

                                            <tr ng-repeat="tblPrice in price">
                                                <td scope="row"> {{tblPrice.congsuat}} </td>
                                                <td>{{tblPrice.dientich}}</td>
                                                <td>{{tblPrice.dientaora}}</td>
                                            </tr>

                                        </tbody>

                                    </table>



                                </div>
                                <span class="fw-bold ps-2 px-2 pb-3">Tùy theo thực tế từng khu vực nên điện tạo ra sẽ
                                    dao
                                    động theo bức
                                    xạ mặt trời
                                    sinh ra.
                                    Mặc dù cùng công suất nhưng sản lượng sẽ khác nhau.</span>

                            </div>

                            <div class="img-info-solar">
                                <img src="./images/service/priceHybrid/pr-3.png" class="img-fluid w-100">
                            </div>

                        </div>

                        <div class="about-heading mt-5">

                            <h6 class="fw-bold mb-3 text-success">4. Bảng giá lắp đặt trọn gói điện mặt trời hybrid –
                                hòa
                                lưới có lưu trữ
                            </h6>

                            <div class="card rounded-0 mb-4">

                                <div class="table-responsive">

                                    <table class="table table-striped">

                                        <thead>

                                            <tr class="bg-success text-white">
                                                <th scope="col">CÔNG SUẤT</th>
                                                <th scope="col">ĐIỆN TẠO RA HẰNG THÁNG</th>
                                                <th scope="col">CHI PHÍ</th>
                                            </tr>

                                        </thead>

                                        <tbody>

                                            <tr ng-repeat="tblCapacity in capacity">
                                                <td scope="row"> {{tblCapacity.congsuat}} </td>
                                                <td>{{tblCapacity.dientaora}}</td>
                                                <td>{{tblCapacity.chiphi}}</td>
                                            </tr>

                                        </tbody>

                                    </table>

                                </div>

                                <span class="fw-bold ps-2 px-2 pb-3 bg-light">Chi phí lắp đặt điện mặt trời hybrid thấp
                                    hay
                                    cao sẽ
                                    phụ vào các yếu tố sau:
                                    <br><br>
                                    ✅ Phụ thuộc mái nhà lắp đặt là gì?
                                    <br><br>
                                    Mái nhà sẽ có: mái tôn, mái bằng hay mái ngói, mỗi mái nhà sẽ có độ khó khác nhau và
                                    vật
                                    tư lắp đặt khác nhau.
                                    <br><br>
                                    ✅ Phụ thuộc vào thiết bị vật tự sử dụng:
                                    <br><br>
                                    - Nếu bạn sử dụng thiết bị thấp,và chất lượng thấp thì chi phí sẽ thấp và đồng nghĩa
                                    với
                                    tuổi thọ sẽ không lâu và sẽ thường xuyên xảy ra lỗi.
                                    - Nếu bạn sử dụng thiết bị chất lượng cao, tuổi thọ lâu thì đồng nghĩa chi phí sẽ
                                    cao
                                    nhưng ngược lại hệ thống của bạn sẽ ít bị trục trặc và hư hỏng.
                                    <br><br>
                                    ✅ Phụ thuộc vào dung lượng của ắc quy hoặc pin lithium.
                                    <br><br>
                                    - Lưu trữ càng nhiều thì chi phí càng cao.
                                    ✅ Phụ thuộc vào dịch vụ cung cấp và lắp đặt.
                                    <br><br>
                                    - Nên chọn những đơn vị hoặc công ty có kinh nghiệm lâu năm chuyên về lắp đặt điện
                                    năng
                                    lượng mặt trời để lắp đặt và bảo hành hệ thống khi có sự cố xảy ra và tránh tình
                                    trạng
                                    phát sinh khi lắp đặt.
                                    <br><br>
                                    - Vì vậy cần căn nhắc kỹ lưỡng và kinh tế của mình để chọn ra thiết bị và gói lắp
                                    đặt
                                    điện
                                    mặt trời hybrid – hòa lưới có lưu trữ phù hợp với mình. Tránh trường hợp sử dụng các
                                    thiết bị kém và không đạt yêu cầu như mục tiêu giảm tiền điện chúng ta đặt ra.
                                </span>

                            </div>

                            <div class="img-info-solar">
                                <img src="./images/service/priceHybrid/pr-4.png" class="img-fluid w-100">
                            </div>


                            <!-- <iframe class="ratio ratio-16x9" height="500px" src="https://www.youtube.com/embed/EoTVtB-cSps"
                            allowfullscreen></iframe> -->

                        </div>

                        <div class="about-heading mt-5">

                            <h6 class="fw-bold mb-3 text-success">5. Một gói lắp đặt điện mặt trời hybrid – hòa lưới có
                                lưu
                                trữ bao gồm những vật tư, dịch vụ gì?
                            </h6>

                            <div class="card rounded-0 mb-4">

                                <div class="table-responsive">

                                    <table class="table table-striped">

                                        <thead>

                                            <tr class="bg-success text-white">
                                                <th scope="col">CÔNG SUẤT</th>
                                                <th scope="col">ĐIỆN TẠO RA HẰNG THÁNG</th>
                                                <th scope="col">CHI PHÍ</th>
                                            </tr>

                                        </thead>

                                        <tbody>

                                            <tr ng-repeat="tblVattu in vattu">
                                                <td scope="row"> {{tblVattu.thanhphan}} </td>
                                                <td>{{tblVattu.thuonghieu}}</td>
                                                <td>{{tblVattu.chiphi}}</td>
                                            </tr>

                                        </tbody>

                                    </table>

                                </div>

                            </div>

                            <div class="img-info-solar">
                                <img src="./images/service/priceHybrid/pr-5.jpg" class="img-fluid w-100">
                            </div>

                        </div>

                        <div class="about-heading mt-5">

                            <h6 class="fw-bold mb-3 text-success">6. Các thương hiệu hàng đầu được SOLARDH sừ dụng để
                                lắp
                                đặt điện mặt trời hybrid – hòa lưới có lưu trữ
                            </h6>

                            <p class="text-secondary">
                                ✅ Về tấm pin năng lượng mặt trời: Chúng tôi luôn sử dụng sản phẩm nằm trong top 10 hàng
                                chất
                                lượng được sử dụng nhiều nhất trên thế giới. Tấm pin sẽ được đánh giá về hiệu suất và
                                công
                                suất tạo ra hằng ngày.
                                <br><br>
                                Tấm pin Canadian – Bảo hành 12 năm vật lý và 25 năm hiệu suất trên 80%
                            </p>

                            <div class="img-info-solar">
                                <img src="./images/service/priceHybrid/pr-6.png" class="img-fluid w-100">
                            </div>

                            <p class="text-secondary">
                                <br>
                                Tấm pin Longi – Bảo hành 12 năm vật lý và 25 năm hiệu suất trên 80%
                            </p>

                            <div class="img-info-solar">
                                <img src="./images/service/priceHybrid/pr-7.png" class="img-fluid w-100">
                            </div>

                        </div>

                        <div class="about-heading mt-5">

                            <h6 class="fw-bold mb-3 text-success">7. Tại sao lại chọn SOLARDH để lắp đặt điện mặt trời
                                hybrid – hòa lưới có lưu trữ?
                            </h6>

                            <p class="text-secondary">
                                ✅ Đội ngũ nhân lực, kỹ sư dày dặn kinh nghiệm đã trải qua rất nhiều dự án lắp đặt ở Việt
                                Nam
                                và Campuchia.
                                <br><br>
                                ✅ Là đại lý chính thức của hãng inverter hybrid nổi tiếng như Deye, Luxpower và pin lưu
                                trữ
                                UFO tại Việt Nam.
                                <br><br>
                                ✅ Đã cung cấp rất nhiều sản phẩm ra thị trường và hoàn thành rất nhiều công trình dự án
                                lớn
                                trên cả nước.
                                <br><br>
                                ✅ Tư vấn lắp đặt trọn gói 24/7 miễn phí và bảo hành lắp đặt trong vòng 24h.
                                <br><br>
                                ✅ Luôn sẵn kho với số lượng lớn giúp tiến độ lắp đặt nhanh chóng không cần phải đợi nhập
                                hàng.
                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-lg-3 mt-5 pt-5 mb-5">

                    <div class="card rounded-0">

                        <form class="d-flex my-2 my-lg-0 p-3">
                            <input class="form-control me-sm-2" type="text" placeholder="Tìm kiếm bài đăng">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </form>

                    </div>

                    <div class="card rounded-0 mt-4">

                        <div class="card-header">

                            <h5>BẢNG TIN MỚI NHẤT</h5>

                        </div>

                        <!-- Hover added -->
                        <div class="list-group rounded-0">

                            <a href="#" class="list-group-item list-group-item-action text-primary">
                                Bảng Giá Lắp Đặt Trọn Gói Điện
                                Mặt Trời Hybrid – Hòa Lưới Có Lưu Trữ Mới Nhất
                            </a>

                            <a href="#" class="list-group-item list-group-item-action text-primary">
                                Hướng Dẫn Kết Nối Wifi Luxpower Trên Điện Thoại Mới Nhất
                            </a>

                            <a href="#" class="list-group-item list-group-item-action text-primary">
                                Tại sao nên lựa chọn Pin Lithium Gigabox SNA 51.2V 100Ah cho gia đình bạn
                            </a>

                            <a href="#" class="list-group-item list-group-item-action text-primary">
                                Pin Lithium UFO 48V 100Ah Bảo Hành 5 Năm Mới Nhất Hiện Nay
                            </a>

                            <a href="#" class="list-group-item list-group-item-action text-primary">
                                Hướng Dẫn Cài Đặt Wifi Inverter Hybrid Deye Qua App DEYE CLOUD Mới Nhất
                            </a>


                        </div>

                    </div>

                    <div class="card rounded-0 mt-4">

                        <div class="card-header">

                            <h5>NĂNG LƯỢNG MẶT TRỜI - NĂNG LƯỢNG SẠCH</h5>

                        </div>

                        <div class="list-group">

                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="card-body">

                                    <iframe class="ratio ratio-16x9" src="https://www.youtube.com/embed/xej9P42gOOg"
                                        allowfullscreen>
                                    </iframe>

                                </div>
                            </a>

                        </div>

                    </div>

                    <div class="card rounded-0 mt-4">

                        <div class="card-header">

                            <h5>ỨNG DỤNG NĂNG LƯỢNG MẶT TRỜI CHO NÔNG NGHIỆP</h5>

                        </div>

                        <div class="list-group">

                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="card-body">

                                    <iframe class="ratio ratio-16x9" src="https://www.youtube.com/embed/N2V_Pd0wgc4"
                                        allowfullscreen>
                                    </iframe>

                                </div>
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </main>



        <!-- panel cam kết -->
        <div class="container">

            <div class="layout">

                <p class="text-dark fs-6">
                    <br>
                    Quý khách hàng quan tâm tới thiết bị điện năng lượng mặt trời xin vui lòng liên hệ: <br>
                    CÔNG TY TNHH <Strong style="color: #0a59a0;">SOLAR BÁCH THỊNH</Strong> <br>
                    Địa chỉ: Đường Nguyễn Huệ, Ấp Bắc Sơn, Thị Trấn Núi Sập Huyện Thoại Sơn, Tỉnh An Giang<br>
                    <Strong style="color: #0a59a0;">TEL: 0918.619.651 - 0969.209.620</Strong> <br>
                    <Strong class="text-danger">Xin chân thành cảm ơn quý khách đã đến với Solar Bách Thịnh !</Strong>
                </p>

                <div class="img-info-solar mb-5">

                    <img src="./images/if-img/ifo-slbt.png" class="img-fluid w-100">

                </div>

            </div>

            <div class="row">

                <div class="col-12 col-lg-4 pt-4 pb-4">

                    <div class="card rounded-0 p-3" style="box-shadow: 4px 4px 4px gray;">

                        <h3 class="text-success fw-bold">
                            <i class="bi bi-currency-dollar"></i>
                            Cam Kết Chính Hãng
                        </h3>

                        <p class="text-dark fs-6">Đảm bảo chất lượng 100% hàng nhập khẩu chính hãng.</p>

                    </div>

                </div>

                <div class="col-lg-4 pt-4 pb-4">

                    <div class="card rounded-0 p-3" style="box-shadow: 4px 4px 4px gray;">

                        <h3 class="text-success fw-bold">
                            <i class="bi bi-people-fill"></i>
                            Kinh Nghiệm
                        </h3>

                        <p class="text-dark fs-6">Đội ngũ có kinh nghiệm nhiều năm trong nghành lắp đặt thiết bị.</p>

                    </div>

                </div>

                <div class="col-lg-4 pt-4 pb-4">

                    <div class="card rounded-0 p-3" style="box-shadow: 4px 4px 4px gray;">

                        <h3 class="text-success fw-bold">
                            <i class="bi bi-star-fill"></i>
                            Uy Tín
                        </h3>

                        <p class="text-dark fs-6">Luôn được quý khách hàng tin tưởng, yêu mến và ủng hộ.</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- footer -->
    <footer>

        <div class="container" id="contact">

            <div class="row g-0">

                <div class="col-12 col-md-4 col-lg-4 pt-3">
                    <div class="item">
                        <ul style="padding-left: 0rem;">
                            <li>
                                <a class="text-white fw-bold fs-6">THÔNG TIN LIÊN HỆ</a>
                                <a class="text-white">
                                    <i class="bi bi-houses"></i>
                                    &nbsp;Công ty TNHH &nbsp; <Strong class="text-success">Solar Bách Thịnh</Strong>
                                </a>
                                <a class="text-white">
                                    <i class="bi bi-telephone"></i>
                                    &nbsp;0918.619.651 - 0969.209.620
                                </a>
                                <a class="text-white">
                                    <i class="bi bi-clock"></i>
                                    &nbsp;Thời gian làm việc: 7:00 - 17:00 <br> Thứ 2 - Chủ nhật
                                </a>
                                <a class="text-white">
                                    <i class="bi bi-geo-alt"></i>
                                    &nbsp;Địa chỉ: Đường Nguyễn Huệ, Ấp Bắc Sơn, Thị Trấn Núi Sập <br>
                                    &nbsp;Huyện Thoại Sơn, Tỉnh An Giang
                                </a>
                                <a class="text-white">
                                    <i class="bi bi-envelope-at"></i>
                                    &nbsp;Email: lethanhkietdl@gmail.com
                                </a>
                                <a class="text-white">
                                    <i class="bi bi-card-checklist"></i>
                                    &nbsp;Mã số thuế: 1602124773 cấp ngày: 04/06/2020 tại An Giang
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-12 col-md-4 col-lg-4 pt-3">
                    <div class="item">
                        <ul style="padding-left: 0rem;">
                            <li>
                                <a class="text-white fw-bold fs-6">GIẤY PHÉP ĐKKD</a>
                                <a class="text-white">Công ty TNHH MTV &nbsp; <Strong class="text-success"> Solar
                                        Bách Thịnh</Strong>
                                </a>
                                <a class=" text-white">
                                    Giấy phép đăng kí Kinh doanh số: 1602124773 do <br>
                                    Sở KHĐT Tỉnh An Giang cấp ngày:
                                    04/06/2020.
                                </a>
                                <a class="text-white">
                                    Địa chỉ: Đường Nguyễn Huệ, Ấp Bắc Sơn, Thị Trấn Núi Sập <br>
                                    Huyện Thoại Sơn, Tỉnh An Giang, Việt Nam
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-4 pt-3">

                    <div class="item">

                        <ul style="padding-left: 0rem;">

                            <li>

                                <a class="text-white fw-bold fs-5">LIÊN HỆ TƯ VẤN LẮP ĐẶT</a>

                                <form class="mb-5" name="formChk">

                                    <label class="text-white mb-3">Xin vui lòng để lại email để <Strong
                                            class="text-success">Solar Bách Thịnh</Strong>
                                        cập nhật tin tức mới
                                        nhất đến quý khách
                                    </label>

                                    <div class="row g-2">

                                        <div class="col-lg-12">
                                            <div class="mb-2">
                                                <input type="text" class="form-control" name="name"
                                                    ng-model="fullname" placeholder="Họ và tên"
                                                    pattern="^[a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\W|_]+$"
                                                    required>
                                                <small class="text-danger"
                                                    ng-show="formChk.name.$touched && formChk.name.$invalid">
                                                    Vui lòng nhập đúng định dạng họ tên !
                                                </small>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="mb-2">
                                                <input type="text" class="form-control" name="phone"
                                                    ng-model="phone" placeholder="Số điện thoại"
                                                    pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b" required>
                                                <small class="text-danger"
                                                    ng-show="formChk.phone.$touched && formChk.phone.$invalid">
                                                    Vui lòng nhập đúng định dạng số điện thoại !
                                                </small>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <textarea class="form-control" name="content" placeholder="Nội dung"
                                                rows="5"></textarea>
                                        </div>

                                    </div>

                                    <button type="submit" id="submit" name="submit"
                                        class="btn btn-success fw-bold px-3 ps-3 pt-2 pb-2">
                                        Đăng ký
                                    </button>

                                    <span class="fs-6" id="success"></span>

                                </form>

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <div class="design pt-2">

            <p class="fw-bold"> Copyright © 2023 Công Ty TNHH
                <Strong class="fw-bold text-success">
                    Solar Bách Thịnh
                </Strong>
            </p>

        </div>

    </footer>

    <!-- nút bấm BACKTOP -->
    <div id="backtop">
        <i class="fa fa-chevron-up" id="icon"></i>
    </div>

    <!-- call -->
    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="tel:0918619651" class="pps-btn-img">
                    <img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Gọi điện thoại"
                        width="50">
                </a>
            </div>
        </div>
        <div class="hotline-bar">
            <a href="tel:0918619651">
                <span class="text-hotline">0918.619.651</span>
            </a>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/send-infoKH.js"></script>
    <script src="js/table-Service.js"></script>

</body>

</html>