<div class="row">

    <div class="col-6 col-md-4 col-lg-3 pt-3" ng-repeat="list in goowee">

        <div class="card p-1">

            <div class="sp">
                <img src="./images/inverter/{{ list.Logo }}" class="img-fluid w-100">
            </div>

            <div class="fs-6 color-product text-center fw-bold">
                {{ list.Name }}
            </div>

            <div class="giohang mt-3">
                <a href="#!product-ivt/{{list.Id}}" type="submit" class="btn btn-outline-danger w-100 fw-bold p-2"
                    style="font-size: 12px;">Xem
                    thông tin chi tiết</a>
            </div>

        </div>

    </div>

    <div class="des-info mt-5">

        <h5 class="color-product fw-bold">GIỚI THIỆU VỀ HÃNG GOODWE</h5>

        <div class="info-img">

            <img src="./images/inverter/img-pr/if-goodwe1.jpg" class="img-fluid w-100 pt-2 pb-2">

        </div>

        <div class="des text-secondary fs-6 ">
            <br>
            - Goodwe là một doanh nghiệp hàng đầu, có tư duy chiến lược, tập trung vào nghiên cứu và sản xuất các bộ
            biến
            tần PV và các giải pháp lưu trữ năng lượng. Với doanh số trung bình hàng tháng là 30.000 chiếc vào năm 2019
            và 12 GW được lắp đặt tại hơn 100 quốc gia, bộ biến tần năng lượng mặt trời Goodwe đã được sử dụng chủ yếu
            trong các mái nhà dân dụng, hệ thống thương mại và hệ thống lưu trữ năng lượng. Goodwe được xếp hạng là nhà
            sản xuất biến tần năng lượng mặt trời Top 10 thế giới bởi Bloomberg, IHS & Wood Mackenzie. Goodwe đánh giá
            thành công của mình trên thành công mà khách hàng đạt được bằng cách xác định và tích hợp các thành phần và
            kỹ thuật tiên tiến nhất hiện có trong khi cung cấp dịch vụ hậu mãi tuyệt vời.
        </div>

        <h5 class="color-product fw-bold">MỘT SỐ DÒNG SẢN PHẨM CỦA GOODWE</h5>

        <div class="des text-secondary fs-5">
            Inverter hòa lưới cho hộ gia đình nhỏ và vừa (0.7-10kW)

            <img src="./images/inverter/img-pr/if-goodwe2.jpg" class="img-fluid w-100 pt-2 pb-2">

            Inverter hòa lưới áp mai dành cho thương mại (4-50kW)

            <img src="./images/inverter/img-pr/if-goodwe3.jpg" class="img-fluid w-100 pt-2 pb-2">

        </div>

        <div class="des text-secondary fs-6 pb-3">
            <br>
            -Biến tần inverter là một trong những thiết bị quan trọng bậc nhất cấu thành nhà máy điện mặt trời. Thiết bị
            này được kết nối trực tiếp giữa tấm pin mặt trời, giúp chuyển dòng điện 1 chiều thành điện xoay chiều để đấu
            với điện lưới. Ngoài ra biến tần còn có nhiệm vụ giúp đảm bảo tính ổn định, an toàn và thời gian hòa vốn
            nhanh cho hệ thống điện mặt trời. Vì vậy một chiếc biến tần tốt chính là mảnh ghép quan trọng tạo nên một
            nhà máy điện mặt trời chất lượng. Và chiếc biến tần inverter goodwe chính là sản phẩm tin cậy được Gpsolar
            lựa chọn suốt thời gian qua.

            <img src="./images/inverter/img-pr/if-goodwe4.jpg" class="img-fluid w-100 pt-3">
        </div>

    </div>

</div>