<div class="row">

    <div class="col-6 col-md-4 col-lg-3 pt-3" ng-repeat="list in goowat">

        <div class="card p-1">

            <div class="sp">
                <img src="./images/inverter/{{ list.Logo }}" class="img-fluid w-100">
            </div>

            <div class="fs-6 color-product text-center fw-bold">
                {{ list.Name }}
            </div>

            <div class="giohang mt-3">
                <a href="#!product-ivt/{{list.Id}}" type="submit" class="btn btn-outline-danger w-100 fw-bold p-2"
                    style="font-size: 12px;">Xem
                    thông tin chi tiết</a>
            </div>

        </div>

    </div>

    <div class="des-info mt-5">

        <h5 class="color-product fw-bold">Inverter Growatt là gì?
        </h5>

        <p class="text-secondary">
            Inverter Growatt là biến tần được sản xuất vào bởi công ty Growatt của Trung Quốc, có trụ sở
            chính tại Thâm Quyến. Growatt được thành lập vào tháng 5 năm 2010, như vậy tính đến thời điểm
            hiện tại công ty chỉ mới có kinh nghiệm hơn 10 năm trong lĩnh vực này, tuy nhiên, các sản phẩm
            của Growatt lại được các chuyên gia và khách hàng đánh giá rất cao.
            <br><br>
            Năm 2018, công ty này được bình chọn là nhà cung cấp thiết bị điện mặt trời số 1 tại Trung
            Quốc. Thị trường tiêu thụ của Growatt liên tục mở rộng trên phạm vi toàn thế giới. Tại
            Australia, Growatt chiếm thị phần hàng đầu về inverter. Việt Nam cũng là một thị trường đầy
            tiềm năng của Growatt, số lượng nhập khẩu biến tần trong những năm qua đang ngày càng tăng cao.
        </p>

        <img src="./images/inverter/img-pr/if-growatt1.jpg" class="img-fluid rounded-top" alt="">

        <h5 class="color-product fw-bold">Tính năng thông số kỹ thuật Inverter Growatt</h5>
        <h6 class="color-product fw-bold">Tính năng nổi bật của Inverter Growatt</h6>

        <p class="text-secondary">
            – Inverter Growatt có nhiệm vụ chuyển đổi dòng điện 1 chiều do pin mặt trời tạo ra thành dòng
            điện xoay chiều để vận hành các thiết bị điện, dò điểm công suất cực đại của pin mặt trời,
            bảo vệ hệ thống khỏi các vấn đề sự cố quá tải…
            <br><br>
            – Dải điện áp rộng, hiệu quả chuyển đổi lên đến 98%.
            <br><br>
            – Mạch dò điểm công suất cực đại được thiết kế với dải thích ứng rộng, nhờ vậy mà có thể
            thích nghi với mọi điều kiện môi trường khắc nghiệt.
            <br><br>
            – Inverter Growatt có DC đẩu ra sine chuẩn, nhờ vậy mà chất lượng điện luôn ổn định và tốt
            nhất.
            <br><br>
            – Điện áp đầu vào rộng, nhờ vậy mà thời gian hoạt động cho năng suất cao được kéo dài
            <br><br>
            – Biến tần có thiết kế nhỏ gọn nên dễ dàng cho vận chuyển, lắp đặt, bảo dưỡng, sử dụng…
            <br><br>
            – Inverter Growatt không tạo ra tiếng ồn trong quá trình hoạt động, giúp người dùng không bị
            phiền phức bởi tiếng ồn khó chịu
            <br><br>
            – Giá thành sản phẩm được đánh giá là có tính cạnh tranh cao, phù hợp với túi tiền của
            người dân
            <br><br>
            – Sản phẩm được bảo hành, bảo dưỡng trong thời gian dài
            <br><br>
            – Giám sát hệ thống qua điện thoại, máy tính hoặc các thiết bị có kết nối internet.
            <br><br>
            – Màn hình Oled có độ bền bỉ cao, sắc nét hơn cả màn hình LCD nhiều lần, tính năng cảm biến
            cực nhạy
        <div class="holine text-center text-danger fw-bold">
            Solar Bách Thịnh – Luôn đồng hành cùng bạn
            <br><br>
            Hotline: 0918.619.651 - 0969.209.620
        </div>

        </p>

        <h5 class="color-product fw-bold">Thông số kỹ thuật
        </h5>

        <p class="text-secondary">
            Hiện nay, Inverter Growatt có nhiều sản phẩm với các thiết kế khác nhau, phù hợp với nhiều hệ
            thống điện mặt trời với công suất khác biệt. Tùy theo cong suất hệ thống mà bạn có thể chọn
            các loại inverter Growatt với công suất từ 3kW cho đến 100kW, bao gồm loại 1 pha hoặc 3 pha.
        </p>

        <h5 class="color-product fw-bold">Điều kiện bảo hành Inverter Growatt :
        </h5>

        <p class="text-secondary">
            Sản phẩm bị lỗi do kỹ thuật từ phía nhà sản xuất
            <br><br>
            Sản phẩm còn nguyên vẹn, không bị hư hỏng, vỡ, ẩm mốc, bị nước hay hóa chất xâm nhập
            <br><br>
            Số serier trên sản phẩm và số serises trên các board mạch bên trong khớp với nhau, không bị sửa
            đổi, tẩy xóa
            <br><br>
            Biến tần không bị sửa đổi, thay thế linh kiện, kết cấu bên trong bởi các cá nhân, đơn vị không
            thuộc ủy quyền bảo hành của Growatt
            <br><br>
            Nhìn chung, chính sách bảo hành của Growatt lu
            <br><br>
            Ngoài mua inverter tại các cửa hàng, đại lý ủy quyền, để đảm bảo quyền lợi của mình khi mua
            sản phẩm, bạn nên chọn những đơn vị thi công uy tín để lắp đặt điện mặt trời cũng như lắp
            đặt Inverter. Hiện nay, Hòa Phát Solar là một trong những đơn vị hoạt động mạnh mẽ nhất trong
            lĩnh vực lắp đặt điện mặt trời, phân phối các sản phẩm, linh kiện chính hãng cho hệ thống
            điện mặt trời.
            <br><br>
            Hòa Phát Solar sử dụng biến tấn Growatt cho các hệ thống điện mặt trời gia đình, doanh nghiệp
            với nhiều công suất như 3kW, 5kW, 10kW…Tùy theo công suất của hệ thống điện mà các chuyên gia,
            kỹ sư của Hòa Phát sẽ tư vấn cho khách hàng loại Inverter phù hợp nhất, giúp hệ thống điện
            được chuyển đổi một cách tốt nhất, tạo ra dòng điện có chất lượng và ổn định, đảm bảo nhu
            cầu điện cho sinh hoạt, sản xuất.
            <br><br>
            Đội ngũ các chuyên gia, kỹ sư của Hòa Phát Solar có nhiều kinh nghiệm và kiến thức chuyên môn
            vững chắc, đội ngũ công nhân lắp đặt đã được đào tạo, lắp đặt đúng kỹ thuật, đảm bảo hệ
            thống điện mặt trời hoạt động ổn định, tạo ra sản lượng điện tối đa.
            <br><br>
            Inverter Growatt được sử dụng phổ biến trên thế giới và Việt Nam, điều đó cho thấy những ưu
            thế của sản phẩm này vượt trội như hế nào. Do đó, nếu bạn đang muốn mua biến tần cho hệ
            thống điện mặt trời của gia đình mình, có thể tìm hiểu và lựa chọn Inverter Growatt nhé.
        </p>

        <div class="holine text-center fs-4 text-danger fw-bold">
            LIÊN HỆ VỚI CHÚNG TÔI THÔNG QUA
            <br>
            Hotline: 0918.619.651 - 0969.209.620
        </div>

    </div>

</div>