<div class="row">

    <div class="col-6 col-md-4 col-lg-3 pt-3" ng-repeat="list in inverter">

        <div class="card p-1">

            <div class="sp">
                <img src="./images/inverter/{{ list.Logo }}" class="img-fluid w-100">
            </div>

            <div class="fs-6 color-product text-center fw-bold">
                {{ list.Name }}
            </div>

            <div class="giohang mt-3">
                <a href="#!product-ivt/{{list.Id}}" type="submit" class="btn btn-outline-danger w-100 fw-bold p-2"
                    style="font-size: 12px;">Xem
                    thông tin chi tiết</a>
            </div>

        </div>

    </div>

    <div class="des-info mt-5">

        <h5 class="color-product fw-bold">Inverter năng lượng mặt trời là gì?
        </h5>

        <p class="text-secondary">
            Biến tần đóng một vai trò quan trọng trong bất kỳ hệ thống năng lượng mặt trời nào và
            thường
            được coi là bộ não của dự án, cho dù đó là hệ thống dân cư 2 kW hoặc nhà máy điện lớn
            lên
            đến 5 MW.
            <br><br>
            Chức năng cơ bản của biến tần là bộ chuyển đổi nguồn điện một chiều (DC) mà các tấm pin
            tạo
            ra thành nguồn điện xoay chiều (AC), điện AC này sau đó có thể được đưa vào để vận hành
            các
            thiết bị của bạn, có thể sử dụng cho hộ gia định và doanh nghiệp.
            <br><br>
            Điện không được sử dụng trong nhà bạn sau đó được đưa vào lưới điện hoặc vào bộ lưu trữ
            pin.
            Inverter hybrid bao gồm một hệ thống quản lý pin tích hợp.
        </p>

        <h5 class="color-product fw-bold">Nguyên lý hoạt động của Inverter solar:
        </h5>

        <p class="text-secondary">
            Khi các tia ánh nắng mặt trời chiếu vào hệ thống quang điện PV, các electron sẽ đi vào
            và
            tạo ra năng lượng dòng điện trực tiếp.
            <br><br>
            Hầu hết, các ngôi nhà sử dụng điện dòng điện xoay chiều (AC), không phải dòng điện một
            chiều
            (DC). Và, năng lượng được tạo ra bởi các hệ thống pin mặt trời là dòng điện một chiều
            (DC).
            Vì vậy mà inverter năng lượng mặt trời ra đời.
            <br><br>
            Đầu tiên, các tấm pin của bạn thu thập ánh sáng mặt trời và biến nó thành dòng điện. Sau
            đó,
            nó gửi điện tới bộ biến tần, chuyển đổi năng lượng DC thành năng lượng AC.
            <br><br>
            Thời gian trôi qua, ngày càng có nhiều người lắp đặt điện mặt trời trên mái nhà vì nó có
            thể
            tiết kiệm quá nhiều tiền của họ. Trước khi cài đặt nó, người ta nên biết về các loại
            biến
            tần khác nhau, quy trình và hệ thống PV nào là phù hợp.
            <br><br>
            Biến tần có trách nhiệm theo dõi liên tục điện áp của toàn hệ để xác định công suất tối
            đa
            mà các mô-đun có thể hoạt động
            <br><br>
            Một hệ thống muốn hoạt động lâu dài đòi hỏi một bộ biến tần chất lượng cao với hệ thống
            làm
            mát đối lưu tốt.
            <br><br>
            Đi kèm với 3 loại hệ thống hiện nay là 3 loại inverter khác nhau: Inverter hòa lưới,
            Inverter hybrid, inverter off grid
        </p>

        <h5 class="color-product fw-bold">Ưu điểm Solar inverter hiện đại hiện nay:
        </h5>

        <p class="text-secondary">
            Không tạo tiếng ồn, không ô nhiễm môi trường, an toàn cho người sử dụng, nhỏ gọn, tiện
            dụng
            dễ dàng di chuyển.
            <br><br>
            Tương thích với hầu hết thiết bị điện trong gia đình và văn phòng, hoạt động trong môi
            trường khắc nghiệt
            <br><br>
            Thuật toán MPPT chính xác, hiệu suất cao, không bị hao hụt điện khi sử dụng lâu dài.
            Vận hành êm ái, thời gian chuyển mạch nhanh.
            <br><br>
            Chất lượng cao nhờ điều khiển bằng bộ vi xử lý CPU.
            <br><br>
            Dải điện áp đầu vào rộng 135V – 280V, ổn áp điện áp đầu ra 220VAC.
            <br><br>
            Bảo về quá tải, ngắn mạch, quá áp, thấp áp và quá nhiệt.
            <br><br>
            Bộ nạp quản lý ắc quy thông minh, bảo vệ ắc quy tránh phóng sâu và nạp quá dòng.
            <br><br>
            Có nhiều loại biến tần khác nhau dựa trên hình dạng của dạng sóng chuyển đổi.
            <br><br>
            Tự động điều chỉnh tần số và điện áp phù hợp với điện lưới trước khi thực hiện hòa lưới.
            <br><br>
            Quy trình kiểm soát tích hợp. Theo dõi và giám sát lượng điện qua phần mềm.
            <br><br>
            Ngay lập tức thống báo cho người theo dõi những bất thường. Hiển thị thông qua
            smartphone,
            tablet, laptop.
            <br><br>
            Khối lượng và kích thước gọn nhẹ, dễ dàng lắp đặt.
            <br><br>
            Dễ sử dụng, dễ vận hành.
            <br><br>
            Tiêu chuẩn chất lượng của Châu Âu CE, FC và RosH hệ thống quản lý chất lượng ISO 9001.
            <br><br>
            <strong class="color-product fw-bold">Solar Bách Thịnh</strong> là đơn vị phân phối các
            sản
            phẩm biến tần Inverter chính hãng của Solis inverter,
            INVT inverter, GOODWE, GROWATT. Chúng tôi tự tin với đội ngũ nhiều năm lành nghề, chuyên
            viên tư vấn tận tình, dịch vụ tốt, chế độ hậu mãi, bảo hành uy tín, chất lượng, tận tâm.
        </p>

    </div>

</div>