<div class="row">

    <div class="col-6 col-md-4 col-lg-3 pt-3" ng-repeat="list in invt">

        <div class="card p-1">

            <div class="sp">
                <img src="./images/inverter/{{ list.Logo }}" class="img-fluid w-100">
            </div>

            <div class="fs-6 color-product text-center fw-bold">
                {{ list.Name }}
            </div>

            <div class="giohang mt-3">
                <a href="#!product-ivt/{{list.Id}}" type="submit" class="btn btn-outline-danger w-100 fw-bold p-2"
                    style="font-size: 12px;">Xem
                    thông tin chi tiết</a>
            </div>

        </div>

    </div>

    <div class="des-info mt-4">

        <h5 class="fw-bold color-product">GIẢI PHÁP ĐẦU TƯ HIỆU QUẢ CHO CÁC DỰ ÁN ĐIỆN NĂNG LƯỢNG MẶT TRỜI
        </h5>
        <br>
        <h6 class="fw-bold text-dark">Đáng tin cậy</h6>

        <div class="des text-secondary">

            Vỏ hợp kim nhôm nguyên khối, sang trọng, làm mát tự nhiên<br>
            Màn hình được bảo vệ 2 lớp, độ an toàn cao<br>
            Sử dụng linh kiện cao cấp để đảm bảo hoạt động ổn định của bộ hòa lưới. Chip MOSFET, DC switch từ Đức, tụ
            và<br>
            Relay từ Nhật<br>
            Sản phẩm có bảo hiểm bảo hành, được cung cấp bởi công ty bảo hiểm nổi tiếng quốc tế (AIG)<br><br>
            <h6 class="fw-bold text-dark">Hiệu quả</h6>
            Dải điện áp rộng, điện áp khởi động thấp và hiệu quả chuyển đổi cao 98%<br>
            Mạch dò điểm công suất cực đại (MPPT) với dải thích ứng rộng, thích ứng với môi trường khắc nghiệt<br><br>
            <h6 class="fw-bold text-dark">Thông minh</h6>
            Giao thức truyền thông RS485, Ethernet, WIFI<br>
            Có chức năng giám sát hệ thống thông qua ứng dụng iMars trên máy tính hoặc điện thoại có kết nối
            internet<br><br>
            <h6 class="fw-bold text-dark">INVT – Thương hiệu inverter có mặt tại 60 quốc gia trên thế giới</h6>
            INVT là Tập đoàn công nghệ cao trong lĩnh vực tự động hóa và điện năng lượng mặt trời, thương hiệu INVT
            phát<br>
            triển rộng khắp 60 quốc gia toàn cầu. INVT sử dụng linh kiện và công nghệ của CHLB Đức. Tất cả các quá
            trình<br>
            sản
            xuất sản phẩm đều kiểm tra nghiêm ngặt và được cấp chứng chỉ chất lượng của hệ thống TÜV SÜD. Sản phẩm
            được<br>
            sản
            xuất trên tiêu chuẩn CE cho thị trường châu Âu và UL cho thị trường Bắc Mỹ. <br>

        </div>


    </div>

</div>