<div class="row">

    <div class="col-6 col-md-4 col-lg-3 pt-3" ng-repeat="list in solis">

        <div class="card p-1">

            <div class="sp">
                <img src="./images/inverter/{{ list.Logo }}" class="img-fluid w-100">
            </div>

            <div class="fs-6 color-product text-center fw-bold">
                {{ list.Name }}
            </div>

            <div class="giohang mt-3">
                <a href="#!product-ivt/{{list.Id}}" type="submit" class="btn btn-outline-danger w-100 fw-bold p-2"
                    style="font-size: 12px;">Xem
                    thông tin chi tiết</a>
            </div>

        </div>

    </div>

    <div class="des-info mt-5">

        <h5 class="color-product fw-bold">1. Giới thiệu chung về công ty Ginlong Solis.
        </h5>

        <p class="text-secondary">
            Được thành lập vào năm 2005, Ginlong Solis là một trong những chuyên gia về bộ hòa lưới chuỗi toàn cầu lâu
            đời nhất và lớn nhất, chuyên sản xuất bộ hòa lưới chuỗi để chuyển đổi nguồn DC thành nguồn AC và tương tác
            với lưới điện, giúp giảm lượng khí thải carbon của xã hội.
            <br><br>
            Thị trường năng lượng mặt trời dân cư, thương mại và quy mô tiện ích bao gồm chủ nhà, chủ doanh nghiệp, tiện
            ích, nhà phát triển năng lượng mặt trời và nhà đầu tư được hưởng lợi từ một dòng sản phẩm hoàn chỉnh của các
            công nghệ biến tần chuỗi cực kỳ đáng tin cậy, mang lại lợi nhuận, hiệu quả và sáng tạo. các sản phẩm này
            được cài đặt trên toàn cầu, tối ưu hóa cho thị trường địa phương và được phục vụ bởi các đội ngũ có kinh
            nghiệm, nhằm mang lại lợi tức đầu tư dài hạn đáng kể cho các bên liên quan và đẩy nhanh quá trình chuyển đổi
            sang một tương lai bền vững hơn.
        </p>

        <h5 class="color-product fw-bold">2. Inverter hòa lưới Solis.</h5>

        <h6 class="color-product fw-bold">a. Các điểm mạnh của inverter hòa lưới Solis.</h6>

        <p class="text-secondary">
            Công nghệ chuyển mạch tần số cao. <br><br>
            Thiết kế nhỏ gọn và nhẹ dễ dàng cho việc lắp đặt. <br><br>
            Quản lý năng lượng xuất khẩu tích hợp. <br><br>
            Nhiều cấp độ bảo vệ. <br><br>
            Quạt dự phòng thông minh. <br><br>
            Chức năng sao lưu ngoài lưới. <br><br>
            Giải pháp giám sát trang web thương mại hoàn hảo. <br><br>
        </p>

        <h6 class="color-product fw-bold">b. Các dòng sản phẩm Ginlong Solis.</h6>

        <p class="text-secondary">
            Bộ hòa lưới 1 pha: Solis-mini-(700-3600)-4G, Solis-1P(2.5-6)K-4G, Solis-1P(7-10)K-4G, RHI-(3-5)K-48ES.
            <br>
            Bộ hòa lưới 3 pha: Solis-3P(5-20)K-4G, Solis-(25-33)K, Solis-(36-40)K-HV, Solis-(40-60)K, Solis-(50-70)K-HV.
        </p>

        <h6 class="color-product fw-bold">c. Hiệu suất cực đại của inverter hòa lưới Solis.</h6>

        <p class="text-secondary">
            Hiệu suất chuyển đổi là tỷ lệ công suất đầu vào so với năng lượng đầu ra. Hiệu suất chuyển đổi càng cao,
            năng lượng sẽ được tiết kiệm càng nhiều và các thiết bị có thể cung cấp nhiều điện hơn. Vì vậy, nó càng cao
            thì bộ hòa lưới sẽ càng tốt. Hầu hết các bộ hòa lưới công suất đáng tin cậy có thể đạt tới 90% hiệu suất
            chuyển đổi. Các bộ hòa lưới 1 pha của Solis có công suất cực đại dao động từ 97.2 đến 98.1%, các bộ hòa lưới
            3 pha thì rơi vào khoảng 98.3 đến 99%.
        </p>

        <h6 class="color-product fw-bold">d. Khoảng điện áp đầu vào công suất cực đại.</h6>

        <p class="text-secondary">
            Các bộ hòa lưới 1 pha của Solis có điện áp đầu vào công suất cực đại dao động từ 50 đến 550V, các bộ hòa
            lưới 3 pha là từ 160 đến 1000V.
        </p>

        <h6 class="color-product fw-bold">d. Khoảng điện áp đầu vào công suất cực đại.</h6>

        <p class="text-secondary">
            Các bộ hòa lưới 1 pha của Solis có điện áp đầu vào công suất cực đại dao động từ 50 đến 550V, các bộ hòa
            lưới 3 pha là từ 160 đến 1000V.
        </p>

        <h6 class="color-product fw-bold">e. Các giao diện giao tiếp được hỗ trợ.</h6>

        <p class="text-secondary">
            RS485, Wifi/LAN/GPRS, CAN.
        </p>

        <h6 class="color-product fw-bold">f. Bảo hành bộ hòa lưới Ginlong Solis.</h6>

        <p class="text-secondary">
            Solis cung cấp cho khách hàng chế độ bảo hành 5 năm (có thể gia hạn đến 20 năm).
            <br>
            Mọi thắc mắc liên hệ với Hotline bên dưới để được tư vấn miễn phí!
        </p>

    </div>

</div>