<div class="card mt-4">

    <div class="row p-3">

        <div class="col-lg-7">

            <img id="myImg" src="./images/phukien/{{img}}" class="img-fluid w-100">

            <!-- The Modal -->
            <div id="myModal" class="modal">
                <span class="close"><i class="bi bi-x-lg"></i></span>
                <img class="modal-content" id="img01">
            </div>

        </div>

        <div class="col-lg-5">

            <h4 class="fw-bold">{{name}}</h4>

            <div class="cmt text-warning">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>

            <br>

            <div class="chitiet">

                <h5 class="fw-bold">Thông tin chi tiết:</h5>

                <div class="des text-secondary">
                    {{des}}
                </div>

                <br>

                <ul class="list-group list-group-flush" style="list-style: none;">
                    <li>
                        <i class="bi bi-check-circle-fill text-danger fs-5"></i>
                        <Strong class="fw-bold">Công xuất:</Strong> {{congsuat}}
                    </li>
                    <li>
                        <i class="bi bi-check-circle-fill text-danger fs-5"></i>
                        <Strong class="fw-bold">Hãng:</Strong> {{hang}}
                    </li>
                    <li>
                        <i class="bi bi-check-circle-fill text-danger fs-5"></i>
                        <Strong class="fw-bold">Chất lượng:</Strong> {{chatluong}}
                    </li>
                    <li>
                        <i class="bi bi-check-circle-fill text-danger fs-5"></i>
                        <Strong class="fw-bold">Công suất:</Strong> {{dienapra}}
                    </li>
                </ul>

                <div class="button pt-5">

                    <a class="btn btn-outline-danger fw-bold rounded-5 p-2 ps-3 px-3" href="" role="button">
                        Liên hệ báo giá ngay
                        <i class="bi bi-cart4"></i>
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="des-info mt-5">

    <p class="text-secondary">
        Đây là những phụ kiện không thể thiếu khi lắp đặt điện mặt trời, các linh kiện này chiếm
        khoảng
        10-15% tổng chi phí của tổng thể một hệ thống.
    </p>

    <br>

    <h5 class="color-product fw-bold">Vai trò của các phụ kiện pin mặt trời:</h5>

    <p class="text-secondary">
        Các phụ kiện này đóng vai trò rất quan trọng trong một hệ thống và nó giúp hỗ trợ cho hệ
        thống được cố định chắc chắn, nối điện từ hệ thống đến điện gia đình, một phần nữa là nó làm
        tăng thêm tính thẩm mỹ, đảm bảo an toàn, giúp hệ thống vận hành ổn định và đảm bảo.
    </p>

    <h5 class="color-product fw-bold">Lưu ý khi mua các loại phụ kiện này:</h5>

    <p class="text-secondary">
        Phụ kiện Solar là những vật tư đóng vai trò quan trọng trong lắp đặt điện mặt trời. Vì vậy
        khi chọn mua cần chọn cẩn thẩn, lựa chọn đơn vị uy tín để mua, sau đây là một số lưu ý cần
        thiết:
    </p>

    <h5 class="color-product fw-bold">Đảm bảo chất lượng:</h5>

    <p class="text-secondary">
        Những linh kiện này phải phải đảm bảo vận hành theo tuổi đời của hệ thống lắp đặt, thông
        thường là 25 năm nên chúng phải đảm bảo độ bền theo tuổi thọ này. Vì vậy phải đảm bảo chất
        lượng, chất liệu có khả năng chống gỉ, chống oxy hóa cao trong điều kiện lắp đặt ngoài rời
        khắc nghiệt và có độ bền cao.
    </p>


    <div class="list-phukien mb-3">

        <h6 class="text-secondary fw-bold">Đảm bảo chất lượng:</h6>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Vật liệu có tính bền, tuổi thọ
                cao.</a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Độ giãn nở do nhiệt rất
                thấp.</a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Kích thước cần chuẩn xác.</a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">phải được gia công đồng bộ, kết
                hợp nhịp nhàng chuyên dụng cho ngành điện mặt trời.
            </a>
        </li>

        <br>

    </div>


    <h5 class="color-product fw-bold">Cần đảm bảo tính thẩm mỹ và tương thích:</h5>

    <p class="text-secondary">
        Ngoài yêu cầu về chất lượng thì việc lựa chọn các vật tư, linh kiện lắp đặt phải phù hợp đảm
        bảo tính thẩm mỹ vì sẽ chẳng có ý nghĩa gì nếu bạn sở hữu những tấm pin “xịn sò”, lắp đặt
        chuyên nghiệp nhưng lại mua và sử dụng các loại phụ kiện đi kèm không “cùng đẳng cấp” với
        chúng.
    </p>

    <h5 class="color-product fw-bold">Lựa chọn nhà cung cấp uy tín:</h5>

    <p class="text-secondary">
        Bạn là đơn vị thi công muốn mua số lượng lớn vật tư linh kiện lắp đặt hay bạn muốn mua về tự
        lắp đặt, thì việc chọn đơn vị cung cấp rất quan trọng, nó sẽ quyết định đến chất lượng sản
        phẩm, giá cả và cả chính sách hẫu mãi.
    </p>

    <h5 class="color-product fw-bold">Vậy nên mua phụ kiện lắp đặt hệ thống điện mặt trời ở đâu?
    </h5>

    <p class="text-secondary">
        <Strong class="color-product">Solar Bách Thịnh</Strong> là một đơn vị đi đầu trong lắp đặt
        điện năng lượng mặt trời, phân phối sỉ và lẻ
        pin năng lượng mặt trời hàng đầu thị trường và cũng đi đầu trong việc phân phối các loại phụ
        kiện, vật tư để thi công hệ thống, đảm bảo giá tốt nhất khi mua số lượng lớn
        <br><br>
        <i class="fw-bold">
            Hơn ai hết, chúng tôi là một vị lắp đặt nên hiểu rõ sản phẩm nào tốt, đảm bảo chất lượng
            và
            giá giả tốt để phân phối lại cho các đơn vị lắp đặt khác hay các khách hàng muốn phân
            phối
            lại. Cam kết:
        </i>
    </p>

    <div class="list-phukien mb-3">

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Sản phẩm đảm bảo chất lượng, từ các
                thương hiệu có tiếng.
            </a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Mẫu mã và chủng loại đa dạng.</a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Giá cả cạnh tranh nhất thị trường
                .</a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">
                Hàng sẵn kho số lượng lớn.
            </a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Đảm bảo tiến độ giao hàng nhanh và chính
                xác.
            </a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Hỗ trợ kỹ thuật tư vấn tận tâm
                .
            </a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Đơn vị chuyên nghiệp trong lắp đắt và
                phân phối linh kiện
                .
            </a>
        </li>

        <br>

        <li class="list-group-item">
            <a class="text-decoration-none text-secondary">Phân phối toàn quốc với hệ thống Showroom
                rộng khắp
                .
            </a>
        </li>

    </div>

    <p class="text-secondary">
        Các phụ kiện của chúng tôi cung cấp toàn những sản phẩm để đảm bảo cho hệ thống hoạt động
        trơn tru, lâu dài, thiết bị chống gỉ, chống oxy hóa cao, chỉ số IP cao, hoạt động tốt trong
        điều kiện môi trường ngoài trời khắc nghiệt.
        <br>
        <br>
        Bạn là đơn vị lắp đặt hay cá nhân muốn mua sỉ và lẻ các <Strong class="color-product">phụ
            kiện, vật tư lắp đặt
            điện mặt
            trời,</Strong> Hãy liên hệ ngay với chúng tôi để nhận báo giá tốt nhất: 0918.619.651 -
        0969.209.620
    </p>

</div>